<!DOCTYPE html>
<html ng-app="app">
	<head>
		<link rel="stylesheet" href="style.css" />
		<title>Angular Lab 1</title>
	</head>
	<body ng-controller="FormController as form">
		<form>
			<h1>TODO List</h1>
			<p>A place to store the things you want to do!</p>
			<input type="text" placeholder="Filter your to-dos" ng-model="toDoFilter">
			<ol>
				<li ng-repeat="item in toDoItem"></li>
			</ol>
			<input type="text" placeholder="Add your to-do" ng-model="toDoItem">
			<button ng-click="form.updateInfo()">ADD</button>
		</form>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="controller.js"></script>
	</body>
</html>